@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;700&display=swap');

@keyframes move-bg {
    from { background-position: 0px 0vh; }
    to { background-position: 0px 500px; }
}
body {
    background-image: url("https://media4.giphy.com/avatars/anarketingpublicidad/CSDcGQoINXdw.gif");
    /* background-repeat: no-repeat; */
    background-size: 500px;
    /* animation: move-bg 0.5s steps(40, start) infinite; */
    height: 100vh;
    margin: 0px;
    font-family: "Pixelify Sans";
    line-height: 2em;
    transition: 180ms;

    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}
.light {
    backdrop-filter: contrast(40%) brightness(285%);
    color: #444;
}
.dark {
    backdrop-filter: contrast(20%) brightness(30%);
    color: #fff;
}

@keyframes a-hover {
    0% { text-decoration: dashed underline; transform: scaleY(200%); filter: blur(5px); }
    25% { text-decoration: dotted underline; }
    50% { text-decoration: solid underline; transform: scaleY(100%); }
    75% { text-decoration: double underline; }
    100% { text-decoration: wavy underline; }
}
a {
    transition: 180ms;
}
a:hover {
    animation: a-hover 0.3s linear;
    text-decoration: wavy underline;
    display: inline-block;
    transform: scale(110%);
}

.light a {
    color: #666;
}
.light a:hover {
    color: #fff;
    background: #666;
}

.dark a {
    color: #fff;
}
.dark a:hover {
    color: #666;
    background: #fff;
}

button {
    transition: 180ms;
    background: rgba(200, 200, 200, 0.5);
    border: none;
    font-family: "Pixelify Sans";
    border: 2px outset #666;
    padding: 10px;
}
.dark button {
    border: 2px outset #888;
}
button:hover {
    cursor: pointer;
    filter: brightness(150%);
}

input {
    padding: 10px;
    font-family: "Pixelify Sans";
}

.light .bordered {
    border: 2px solid #444;
}
.dark .bordered {
    border: 2px solid #fff;
}
.icon {
    width: 64px;
    height: 64px;
    vertical-align: middle;
}
#container {
    margin: 25px;
    padding: 69px;
    position: fixed;
    box-sizing: border-box;
    width: calc(100% - 69px);
    height: calc(100% - 69px);
}
#window {
    transform: translateY(-50%);
    top: 50%;
    right: 200px;
    position: fixed;
    width: 500px;
    height: 500px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.1);
}
.window-header {
    background: #5550d3;
    color: #fff;
    border: 2px outset #807ce4;
    padding: 2px;
}
.dark .window-header {
    background: #807ce4;
    border: 2px outset #5550d3;
}
.window-header button {
    width: 35px;
    height: 35px;
    padding: initial;
}
.window-header div {
    width: 49.5%;
    display: inline-block;
    box-sizing: border-box;
    /* background: #ff0; */
}
.window-content {
    padding: 30px;
    position: absolute;
    overflow-y: scroll;
    bottom: 0;
    left: 0;
    right: -17px;
    height: calc(100% - 40px);
    box-sizing: border-box;
}

@keyframes flash {
    0% { color: inherit; }
    50% { color: inherit; }
    100% { color: transparent; }
}
.flashing {
    animation: flash 0.5s steps(50, start) infinite;
}

@keyframes hover {
    0% { transform: translateY(5px); }
    25% { transform: translateY(2px); }
    50% { transform: translateY(0px); }
    75% { transform: translateY(3px); }
    100% { transform: translateY(5px); }
}
.hovering {
    animation: hover 5s steps(40, start) infinite;
}