@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;700&display=swap');

@keyframes move-bg {
    0% { background-position: 0px -30vh; }
    100% { background-position: 0px 130vh; }
}
body {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/76/1k_Dissolve_Noise_Texture.png");
    /* background-repeat: no-repeat; */
    background-size: 500px;
    animation: move-bg 0.5s steps(40, start) infinite;
    height: 100vh;
    margin: 0px;
    font-family: "Pixelify Sans";
    line-height: 2em;
    transition: 180ms;
}
.light {
    backdrop-filter: contrast(40%) brightness(200%);
    color: #444;
}
.dark {
    backdrop-filter: contrast(40%) brightness(30%);
    color: #fff;
}

.light a {
    color: #666;
    transition: 180ms;
}
.light a:hover {
    color: #fff;
    background: #666;
}

.dark a {
    color: #fff;
    transition: 180ms;
}
.dark a:hover {
    color: #666;
    background: #fff;
}

button {
    transition: 180ms;
    background: rgba(200, 200, 200, 0.5);
    border: none;
}
button:hover {
    cursor: pointer;
    filter: brightness(150%);
}

.light .bordered {
    border: 2px solid #444;
}
.dark .bordered {
    border: 2px solid #fff;
}

#container {
    margin: 25px;
    padding: 69px;
    position: fixed;
    box-sizing: border-box;
    width: calc(100% - 69px);
    height: calc(100% - 69px);
}
#window {
    transform: translateY(-50%);
    top: 50%;
    right: 200px;
    position: fixed;
    width: 500px;
    height: 500px;
    overflow: hidden;
}
.window-header {
    background: #5550d3;
    text-align: right;
    padding: 0px;
}
.dark .window-header {
    background: #928eff;
}
.window-header button {
    width: 35px;
    height: 35px;
}
.window-content {
    padding: 30px;
    position: absolute;
    overflow-y: scroll;
    bottom: 0;
    left: 0;
    right: -17px;
    height: calc(100% - 40px);
    box-sizing: border-box;
}

@keyframes flash {
    to { visibility: hidden; }
}
.flashing {
    animation: flash 1s steps(2, start) infinite;
}

@keyframes hover {
    0% { transform: translateY(5px); }
    25% { transform: translateY(2px); }
    50% { transform: translateY(0px); }
    75% { transform: translateY(3px); }
    100% { transform: translateY(5px); }
}
.hovering {
    animation: hover 5s steps(40, start) infinite;
}